PYTHONPATH=.
AGF_VIDEO_PATH=data/videos/GP010269.MP4
AGF_CAMERA_CONFIG=configs/camera_gopro_hx.yaml
AGF_ANCHORS_DIR=data/masks/anchors
AGF_RETRIEVER_DB=data/retrieval/db_z14
AGF_DEM_PATH=data/dem/srtm_n55_e038.tif
